/* LAYOUT */


body {
    display: flex;
    text-align: left;
    width: 100%;;
    display: grid;

}

nav {
    
    display: flex;
    background-color: #03182e;
    margin-top: -8px;
    align-items: baseline;
    color: #fff;
    width:100%;
    height: 55px;
}

#logo, #browse, #dictionnaries, #quizzes, #money {
    align-items: flex-start;
    padding-left: 15px;
    
}

#subscribe, #login {
    align-items: flex-end;
    justify-content: center;
    padding-left: 15px;
}


main {
    display:flex;
    justify-content: space-around;
    width: 45%;
    border: solid 1px gray;
    padding: 25px;
    position: relative;
    margin-top: -1%;
    margin-left: 2%;
    
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    left: 0;
    align-content: flex-start;
    right: -50%;
    width: 40%;
    padding: 25px;
}


section {
    position: relative;
    flex-basis: 40%;
    right: 0px;
    top: 0;
    right: 0;
    bottom: 50%;
    border: solid 1px gray;
    padding: 25px;
    width: 40%;
}

img {
    width: 236px;
}

/* MENUS */

.breadcrumb {
    display: inline-flex;
    box-sizing: border-box;
    height: 50px;
    list-style: none;
    text-indent: 1em;
    margin-left: 2%;
    margin-top: 2%;
    
} 

li:before {
    padding-right: 9%;
    content: ">";
    
}

menu {
    display: flex;
    position: relative;
    align-self: flex-start;
    width: 40%;
}

.btn-primary {
    display: inline-flex;    
    justify-content: center;
    flex-basis: auto;
    background-color: #fff;
    color: blue;
    border-radius: 10%;
    font-size: large;
    padding-right: 10px;
    padding-left: 0;
}

.icon {
    height: 25px;
}

#logo {
    height: 50%;
}


/* TEXTS & FONTS */

h1, h2, p, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 25px;
    font-weight: 200;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none; 
    color: blue;
}

#browse, #dictionnaries, #quizzes, #money, #login {
    text-decoration: none; 
    vertical-align: middle;
    color: #fff;
    padding-left: 1%;
    font-weight: 600;
}

#subscribe{
    color: white;
    background-color:rgb(159, 65, 25);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: 5px;;
}

.subscribe:hover{
        background-color:rgb(102, 64, 48);
}


section, nav, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

@media only screen and (max-width: 600px) {
    #logo {
        justify-self: center;
    }


}